@model crudmysql.Models.Cliente

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
  
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Confirmar" class="btn btn-danger" /> |
    <a asp-action="Index">Cancelar</a>
</form>
