<h2>title</h2>


@model crudmysql.Models.Cliente


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Livro
        @Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroBi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroBi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contabancaria.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contabancaria.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contabancaria.Saldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contabancaria.Saldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
