@model crudmysql.Models.Cliente

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ContabancariaId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroBi" class="control-label"></label>
                <input asp-for="NumeroBi" class="form-control" />
                <span asp-validation-for="NumeroBi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contabancaria.Saldo" class="control-label"></label>
                <input asp-for="Contabancaria.Saldo" class="form-control" />
                <span asp-validation-for="Contabancaria.Saldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>